body {
  margin: 0;
  padding: 0;
}

.alert-fontsize {
  font-size: 35px;
}

.no-such-movie {
  font-size: 22px;
  margin: 0 35px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:17px;
}

.tabs__top .ant-tabs-tab-btn {
  font-size: 22px;
 }

 .custom-tabs .ant-tabs-tab-btn{
  font-size: 22px;
 }